body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5dc;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#habits-form {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 800px;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
    background-color: white;
}

#habits-form input[type = "text"], 
#habits-form input[type = "date"]{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#habits-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#habits-form button:hover{
    background-color: darkgreen
}

.habit-card {
    flex: 0 1 calc(20% - 2rem); /* Adjust the percentage based on how many cards you want per row */
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease;
    color: black;
    background-color: white;
}

.habit-card:hover {
    background-color: #f0f0f0;
}

#habit-image {
    display: block;
    margin: 20px auto;
    border: 1px solid #ddd;
}

#miss-day-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#miss-day-btn:hover {
    background-color: #d32f2f;
}

.habit-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
    gap: 2px;
    max-width: 300px;
    margin: 20px auto;
}
.day-square {
    aspect-ratio: 1/1;
    border: 1px solid #000;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.day-square:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    z-index: 1;
}


