body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5dc;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

.sound-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.sound-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sound-card:hover {
    background-color: #e0e0e0;
    transform: scale(1.15);
}

.sound-card i {
    font-size: 24px;
    margin-bottom: 10px;
}



.player {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
}

.player-info {
    text-align: center;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.controls button:hover{
    transform: scale(1.25);
}

.controls input[type="range"] {
    width: 100px;
}

.progress-bar {
    background-color: #e0e0e0;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.2s ease; 
    cursor: pointer; /
}

.progress-bar:hover {
    height: 15px; 
}

.progress {
    background-color: #4CAF50;
    height: 100%;
    width: 0;
    transition: width 0.2s ease; 
}


#loop.active {
    color: #4CAF50; 
}

.sound-card.active {
    background-color: #d0f0c0; 
}

